
.outsideColor {
  background: whitesmoke;
}

.containerStyle {
  background-color: white;
  height: 100vh;
}

.paddingContent {
  padding: 10px;
}

.postTitle {
  font-size: 2.4em;
  padding-top:30px;
  padding-bottom:30px;
  
}

.postBody {
  font-size: 1.8em;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: aliceblue;
}

/* tweaking semantic UI components */
.ui.label.small.postEdit:hover {
  color: orange !important;
  border-color: orange !important;
}

.ui.label.small.basic.postDelete:hover {
  color: red !important;
  border-color:red !important;
}

.postVoteDown:hover {
  cursor: pointer !important;
  color: red !important;
  border-color:red !important;
}

.postVoteUp:hover {
  cursor: pointer !important;
  color: green !important;
  border-color:green !important;
}


/* comments */
.commentVoteUp:hover {
  color: green !important
}

.commentVoteDown:hover {
  color: red !important
}

.commentEdit:hover {
  color: orange !important;
  border-color: orange !important;
}

.commentDelete:hover {
  color: red !important;
  border-color:red !important;
}

.commentsCounter {
  padding-top:30px;
  
}










.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
